* {
  margin: 0;
  padding: 0;
}
.contenedor form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 17%;
  margin-top: 15%;
  margin-bottom: 1%;
  background-color: rgba(24, 27, 75, 0.7);
  padding: 20px;
  border-radius: 10px;
}

body {
  background-image: url(../img/fondo-porcorn.jpg);
  font-family: sans-serif;
}

.button {
  margin-top: 3%;
  background-color: rgb(71, 209, 163);
  text-align: center;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

label {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

form label {
  margin-bottom: 3%;
}
form input {
  margin-bottom: 3%;
  padding: 2%;
}
a {
  text-align: center;
  margin: 0.5%;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
